.children{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    border-left: 1px solid gray;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}  
